.gestionnaireDesTaches{
    background-color: rgb(177, 115, 115);
    max-width:800px;
    max-height: 700px;
    /* margin-top:100px;
     */
     margin-top:50px;
     /* position:relative; */
    margin:auto;
    

}

.sectionDashboard{
    height:1000px;
    width:100%;
    padding-top: 150px;;
}

.tachesBloc{
    width:800px;
    height:800px;
    .tacheBloc{
        background-color: brown;
        border:solid white 5px;
        border-radius:5px;
    }
}