*{
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

main{
    padding-top:80px;
}

.padding-top{
    padding-top:80px;
}

.navBar{
    display:flex;
    padding:20px 20px 20px 20px;
    /* gap:10px; */
    background-color: #D8E7FF;
    align-items:center;
    justify-content: space-between;
    position:fixed;
    box-sizing: border-box;
    width:100%;
    p{
        color : #1F4890;
    }
    
}

.deuxiemeCoteNavBar
    {
        display:flex;
        gap:10px;
        a{
            color: #1F4890;
            text-decoration: none;
        }
    }

p{
    color: #1F4890;
}

/* #presentationLifePlannerSection{
    background-color: #EBF1FB;
} */

.couleurDeFond{
    background-color: #EBF1FB;
}

/*Formulaire*/
.formulaire{
    width:200px;
    height:300px;
    padding:10px;
    background-color:#D8E7FF;
    /* border:solid 5px rgb(208, 150, 150); */
    border-radius:10px;
    top:0;
    /* bottom:0; */
    right:0;
    margin-top:50px;
    margin-right:10px;
    position:fixed;
    border: 2px solid rgb(42, 42, 42);
    
    .divCreerEtConnecterCompte
    {
        /* display:flex; */
        p{
            color:rgb(44, 80, 170);
            font-size:13px;
        }
    }
}

.hidden
{
    display:none;
}

/* SECTIONS */

#presentationLifePlanner{
    height:400px;
    text-align:center;
    /* position:relative; */
}
#sectionCestQuoiLifePlanner{
    text-align: center;
}
main{
    #sectionCommentUtiliserLifePlanner{
    height:800px;
    width:100%;
    text-align: center;
    /* background-color:; */
}
}